* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Style *****/
.mainsection {
  width: auto;
  height: auto;
}
.mainheader {
  background: linear-gradient(#797e79, white);
}
.header {
  padding: 15px 20px;
  background-color: rgb(192, 190, 190);
  display: flex;
  margin: 0;
  text-align: center;
  width: 100%;
}
.uls {
  display: flex;
}
.s {
  display: flex;
  justify-content: center;
}
.s > img {
  width: 150px;
  height: 150px;
}
.ul {
  font-size: 12px;
}

.glossary {
  width: 200px;
  height: 200px;
  float: left;
}

form {
  align-items: center;
  display: flex;
  margin: 0 auto;
  color: #fff;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  background: #989998;
  margin: 20px;
  border: 1px solid crimson;
  padding: 15px;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

form input {
  padding: 10px;
  border-radius: 10px;
  display: flex;
}
.btn {
  padding: 13px;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  border: none;
  color: black;
}
/* Header Style End */
/* Main Style Start*/
section {
  padding: 20px;
}

/* Footer Style */

footer {
  background: linear-gradient(white, #797e79);
  width: 100%;
  padding: 50px 35px;
}

footer div {
  line-height: 1.5;
  text-align: center;
}

/* Footer styles Ends */

/* Hero Style Start */

/*<<<<<<<<<<>>>>>>>>>>>>>>
*/

.image img {
  width: 150px;
  height: 150px;
}
.container {
  width: 100%;
}
.grid {
  display: flex;
  justify-content: space-between;
  height: 400px;
  padding: 20px;
}

.grid > article {
  background: cornsilk;
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  /* width: 150px;*/

  /* transition: transform .3s;*/
}

/*.grid>article :hover {
    /*  transform: translateY(5px);*/

/* box-shadow: 2px 2px 26px 0 rgba(0, 0, 0, 0.3);*/

/*}*/

.text {
  padding: 0 20px 20px;
}

.text h3 {
  text-transform: uppercase;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  background: linear-gradient(cadetblue, white);
  margin: 10% auto;
  font-size: 15px;
  padding: 20px;
  width: 20%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalopen;
  animation-duration: 1s;
}
.closebtn {
  float: right;
  color: grey;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: -5px;
  left: 10px;
}
.closebtn:hover {
  color: black;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HERO STYLES END */
@media (max-width: 900px) {
  .grid {
    flex-direction: column;
    height: auto;
  }
  .grid article {
    height: auto;
  }
  .grid img {
    width: 80px;
    height: 80px;
  }
  .s {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .s img {
    display: none;
  }

  article {
    display: flex;
  }
  article > div > div {
    display: flex;
  }
}
@media (max-width: 700px) {
  .modal-content {
    width: 80%;
  }
}
